.outPopUp {
    position: absolute;
    width: 343px;
    height: 200px;
    z-index: 15;
    top: 55%;
    left: 48%;
    margin: -100px 0 0 -150px;;
  }
  .navpast {
      position:fixed;
      bottom: 0px;
      width: 100%;
      left: 10px;
    text-align: left;
    color: red;
  }
  .navupcomming {
      position:fixed;
      bottom: 40px;
      width: 100%;
      left: 10px;
    text-align: left;
    color: yellow;
  }
  .navcurrent {
      position:fixed;
      bottom: 80px;
      width: 100%;
      left: 10px;
    text-align: left;
    color: green;
  }
  .outPopUp2 {
    position: absolute;
    width: 542.7px;
    height: 160px;
    z-index: 15;
    top: 61%;
    left: 43.5%;
    margin: -100px 0 0 -150px;
  }
  .current {color: green;}
  .past {color: red;}
  .upcome {color: yellow;}